<!DOCTYPE html>
<html>
  <head>
    <title>OdinBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <h1><%= current_user ? "OdinBook | #{current_user.name.capitalize}" : "OdinBook" %></h1>
        <nav>
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to("Home", authenticated_root_path ) %></li>
              <li><%= link_to "Friends", friendships_path %></li>
              <li><%= link_to "Posts", posts_path %></li>
              <li><%= link_to "Requests", friend_requests_path %></li>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to("Log out", destroy_user_session_path, method: :delete) %></li>
            <% end %>
          </ul>
        </nav>
      </header>

      <div class="alerts-container">
        <% if flash.any? %>
            <% flash.each do |type, msg| %>
              <div class="<%= type %>-alert">
                <p><%= msg %></p>
              </div>
            <% end %>
          <% end %>
        </div>

      <main>
        <%= yield %>
      </main>

      <!-- <footer>
        Copyright &copy; Bradley Showen
      </footer> -->
  </body>
</html>
